name: Bonusvarsel

on:
  schedule:
    - cron: "*/30 * * * *" # hvert 30. minutt
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          

      - name: Install deps
        run: npm ci

      - name: Run collector
        run: node scripts/collect-loyaltykey.mjs

      - name: Notify Telegram
        env:
          TG_BOT_TOKEN: ${{ secrets.TG_BOT_TOKEN }}
          TG_CHAT_ID: ${{ secrets.TG_CHAT_ID }}
        run: node scripts/notify-telegram.mjs
